//element html default

html{
    height: 100%;
}
body{
    margin: auto;
    font-size: $font-size-base;
    font-weight: 400;
    color: $font-color;
    background: $theme-bg;
    overflow-x:hidden;
    height: 100%;
}
#page{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
.site-content {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: auto;
    min-height: 0;
}
footer{
    clear: both;
    @include rtl-float-left();
    position: relative;
    @include rtl-right(0px);
    width: 100%;
}

a{
	line-height: 1;
    color: $font-color;
    @include transition(0.2s);
	&:hover,
	&:focus{
            outline: none;
            text-decoration: none;
            color: $theme-color;
	}
}
btn{
    @include transition(0.4s);
    &:hover,
    &:focus{
        @include transition(0.4s);
    }
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
    color: $color-title;
}
h1,h2,h3,h4,h5,h6{
    > a{
        color:$color-title;
    }
}
th{
  font-weight: 500;
}
select{
    height:40px;
    padding: 5px 10px;
    border: $border-color-base;
    font-size: $font-size-base;

}

label{
    color:$color-title ;
    font-size: $font-size-base;
    display:inline-block;
    vertical-align: middle;
    font-weight: 500;
}

b,strong{
    font-weight: 500;
}
.radio, .checkbox{
    display: inline-block;
}
blockquote {
    font-size: 16px;
    line-height: 28px;
    position: relative;
    @include rtl-border-left(0);
    padding: 10px 20px;
    @include rtl-border-left(5px solid #fad6d5);
    color: #8a8a94;
    font-style: italic;
    font-weight: 500;
}
p{
    margin: 0 0 20px;
}
img{
    max-width: 100%;
    height: auto;
}
.img.size-full{
    height: auto;
    max-width: 100%;
}
.alignright{
    @include rtl-float-right();
}
.alignleft{
    @include rtl-float-left();
}
.aligncenter{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #f1f2eb;
}
.form-control{
    -webkit-appearance: none;
    appearance: none;
}
input[type="submit"]{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: auto;
    line-height: 28px;
    padding: 5px 35px;
    text-transform: uppercase;
    vertical-align: top;
    background: #1f1f2e;
    font-weight: 500;
    border: none;
    border-radius: 0;
    &:hover {
        background: $theme-color;
        @include transition(0.2s);
    }
}
/*video responsive*/
.video-responsive {
	height: 0;
	padding-top: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	embed,
	iframe,
	iframe,
	video{
		top: 0;
        @include rtl-left(0);
		width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	border: none;
	}
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
/*---clear css bootstrap --*/
// .dropdown-toggle
.btn-group.open .dropdown-toggle{
    box-shadow: none;
}
.alert{
    margin: 20px 0;
    padding: 20px;
}

.tags-list a, .tagcloud a {
    background:#FAFAFA;
    border: 1px solid #ddd;
    color: $font-color;
    display: inline-block;
    margin-bottom: 5px;
    @include rtl-margin-left(3px);
    padding: 7px 10px;
    font-size: 14px;
    &:hover{
        color: $theme-color;
    }
}
dt{
    font-weight: 500;
    color: $color-title;
}
.required {
    border: 0 none;
    color: #ff0000;
    font-weight: 700;
}

//Tag
.tagcloud a{
    font-size: 12px !important;
    color: $font-color;
    &:hover{
        color:$white;
    }
}

pre{
    border: none;
    border-radius: 0;
}

//table
table{
    background: #FFF;
    color: #212121;
    border: 1px solid #e5e5e5;
    thead{
        background: #FAFAFA;
        > tr > th{
            border-bottom: 1px solid #e5e5e5;
        }
    }
    th{
        font-weight: 400;
    }
    tbody{
        font-size: 13px;
    }
}
#today{
    a{
        color: #FFF;
    }
}
.pagination{

    width: 100%;
    .screen-reader-text{
        display: none;
    }
}

.page-links{
    .page-numbers{
        color: #fff;
        background: $theme-color;
        border-radius: 50%;
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-left: 10px;
        position: relative;
        text-align: center;
    }
    .screen-reader-text{
        display: none;
    }
    a > .page-numbers {
        color: $font-color;
        background: #f1f2eb;
        @include transition(0.3s);
        &:hover{
            color: #fff;
            background: $theme-color;
        }
    }
}
.searchform{
    .btn-primary{
        border: none;
    }
}