//Style Responsive


// Large screen / wide desktop 1200-1300--------------------------------------------------------------------------------
@media (min-width: $screen-lg) and (max-width: 1300px){

}
@media (min-width: $screen-lg){
    .header-center {
        .header-content {
            padding-right: 55px;
        }
    }
}

// Large screen / wide desktop 1200-------------------------------------------------------------------------------------
@media (max-width: $screen-lg) {
    .article-carousel-center .post-list .post-image {
        width: 780px;
        height: 550px;
    }
    .img-effect{
        &:hover{
            .wp-post-image{
                margin-left:0%;
            }
            .hover-image{
                left:-100%;
            }
        }
    }
}


// Large screen / wide desktop 1024-------------------------------------------------------------------------------------
@media (max-width: $screen-lg) {
    .css-content .post-list .entry-header{
        padding: 0;
    }
    .post-list .article-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .readmore {
        width: 130px;
    }
    .css-content .post-list .entry-content{
        padding: 15px 30px 0 0;
    }
    .slider-blog.blog-box-layout .post-image{
        min-height: 550px;
    }
    .widget.recent_blog .post-image{
        width: auto;
    }
    .sidebar .widget_mc4wp_form_widget .newsletters #mc4wp{
        min-width: 100px;
    }
}

// Medium screen / desktop 992-1199 ------------------------------------------------------------------------------------
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .sidebar .widget {
        padding: 20px;
    }

}
// Small screen  < tablet 991 ------------------------------------------------------------------------------------------
@media (max-width: $screen-sm-max){

    .article-carousel-center .post-list .post-image {
        width: 100%;
        height: 450px;
    }
    .article-carousel-center .post-list .article-content {
        padding-left: 40px;
        padding-bottom: 20px;
    }
    .error-404,.no-results {
        .searchform{
            .input-group{
                padding-right: 0px;
            }
        }
    }
    .page-content{
        padding-top: 30px;
    }

    #sticky-wrapper{
        display: none;
    }
    .header-content-right{
        position: absolute;
        top:50%;
        margin-top: -20px;
        right:30px;
    }
    .widget.recent_blog .post-image{
        width: auto;
    }
    .slicknav_btn{
        top:50%;
    }
    .header-left .site-logo{
        display: inline-block;
    }
    .header-left .header-content-logo{
        display: block;
    }
    .header-left .header-content{
        display: none;
    }
    .header-left .header-middle{
        display: none;
    }
    .zum-header-content{
        padding:15px 0;
    }
    .header-center .header-content-logo{
        padding: 20px 0;
    }
    .site-logo{
        max-height: 70px;
    }
    #logo img {
        max-height: 70px;
    }

    //category
    .switch-layout{
        display: none;
    }
    .shop-btn-filter{
        width: 120px;
    }
    //menu
    .zum_icon{
        display: none;
    }
    .header-content-menu{
        display: none;
    }
    .zum-header-content{
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .header-content-logo{
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align:center;
    }
    .slicknav_btn{
        bottom: 0;
        vertical-align: middle;
        margin-top:-20px;
        padding-left: 20px;
    }
    .slicknav_menu .slicknav_icon-bar{
        background-color:#040203;
        .slicknav_no-text{
            padding-top: 5px;
        }
    }
    .slicknav_nav{
        top:100% !important;
        height: 100vh;
        ul{
            text-align: left;
            padding: 0 0 0 20px;
            margin: 0;
            .menu{
                padding: 0;
                li{
                    padding: 0;
                }
            }
        }
        img{
            display: none !important;
        }
        .widgettitle{
            padding-top: 20px;
            font-size: 14px;
            color: white;
        }
    }
    .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li{
        margin-bottom: 0 !important;
    }
    //detail
    .widget-related .related-wrapper{
        margin-bottom: 0;
    }
    .product-detail-wrap{
        margin-top: 0;
        margin-bottom:0px;
        >.container{
            padding: 0;
            margin: 0;
            width: 100%;
        }
        .gallery-main{
            img{
                width: 100%;
            }
        }
    }
    .summary-before{
        padding-left: 0;
        padding-right: 0;
    }
    .product-thumbnails{
        display: none;
    }
    .entry-summary{
        padding:50px 50px 30px;
    }
    .woocommerce-tabs{
        padding-left: 50px;
        padding-right: 50px;
    }
    .woocommerce-tabs li.resp-tab-item{
        font-size: 14px;
    }
    //topbar
    #zum-top-navbar ul > li{
        padding: 7px 15px;
    }
    //quickview
    .single-product{
        .mfp-wrap,.mfp-bg{
            display: none !important;
        }

    }
    //footer
    #na-footer{
        .row .col-sm-6:nth-child(2n+1){
            clear: left;
        }
        .container-fluid .container-inner, .container-full .container-inner{
            padding: 0;
        }
    }
    //home1
    .widget-introduce{
        .introduce-text{
            width:100%;
        }
        .introduce-image{
            width: 0;
            display: none;
        }
    }
    div.widget_deals{
        padding-bottom: 150px;
        padding-top: 50px;
        .countdown-times > * > b{
            font-size: 20px;
            min-width: 60px;
            padding: 10px;
            margin-bottom:10px;
        }
    }
}

// Small screen < 767px-------------------------------------------------------------------------------------------------
@media (max-width: $screen-xs-max){
    .article-carousel-center .post-list .post-image {
        width: 767px;
        height: 480px;
    }
    .na-banners {
        margin-bottom: 15px;
    }
    .col-2-3box{
        .box-large{
            .post-image{
                min-height: 400px;
            }
        }
        .box-small{
            .post-image{
                min-height: 300px;
            }
        }
    }
    .rtl [class*="col-"]{
        float: none;
    }
    .header-content-right{
       margin-top: -18px;
    }
    //category
    .blog-column-center-layout {
        .post-item {
            margin: 0 5px;
        }
    }

    .slicknav_btn{
        top:50%;
        margin-top:-20px !important;
    }
    .woocommerce-result-count{
        display: none;
    }
    .woocommerce-ordering{
        float: right !important;
    }
    .wrapper-content-product{
        visibility: hidden;
        opacity: 0;
    }
    .filter-show  .wrapper-content-product{
        visibility: visible;
        opacity: 1;
    }
    .shop-content .wrapper-content-product{
        padding:0 20px;
    }
    .container-fluid .container-inner, .container-full .container-inner{
        padding:0 20px;
    }
    div.widget-testimonial .carousel-nav{
        padding:0 20%;
    }
    #zum-top-navbar{
        display: none;
    }
    .vc_column_container > .vc_column-inner{
        padding-left: 15px!important;
        padding-right: 15px !important;
    }
    .product-taxonomy .layout-large .caption-product{
        background: white;
    }

    #comments .comment-lists{
        ul.children{
            padding-left: 15px;
        }
    }
    #na-footer .footer-bottom .copy-right{
        text-align: center;
    }
}
// Small screen < 640px-------------------------------------------------------------------------------------------------
@media (max-width: 640px) {
    .article-carousel-center .post-list .post-image {
        width: 640px;
        height: 450px;
    }
    .post-grid .entry-footer-social .entry-footer-right {
        margin-left: 0;
        display: block;
        >span {
            &::before {
                content:none;
            }
        }
    }
    .slider-blog.blog-box-layout .post-image{
        min-height: 450px;
    }
    .box-author{
        display: none;
    }
    .box-article > article > * {
        padding-right: 30px;
        padding-left: 30px;
    }
    .ads-before-content{
        display: none;
    }
    .archive-blog .post-tran .article-meta{
        padding: 0;
    }
    .search-transition-wrap .search-transition-inner{
        padding: 0 !important;
    }
    .search-transition-wrap .btn-mini-close{
        right:0 !important;
    }
    .error-404 {
        padding: 100px 0;
        .searchform{
            display: inline-block;
            .input-group{
                max-width: 320px;
            }
            .form-control{
                min-width: 250px;
            }
        }
    }

    .post-list .article-image {
        display:block;
        float: none;
        width: 100%;
        .post-image img.lazy{width: 100%}
    }
    .post-list .article-content {
        float: none;
        width: 100%;
    }
    .post-list .entry-header{
        padding-right: 0;
        padding-left: 0;
    }
    .post-list .entry-content{
        padding-right: 0;
        padding-left: 0;
    }
    .entry-avatar{
        padding-bottom: 30px;
    }
    .post-list {
        .entry-avatar{
            padding-bottom: 15px;
        }
    }
    .box-large .post-tran .entry-title{
        padding: 0;
        margin: 0;
    }
    .box-large .post-tran .entry-title > a{
        font-size: 20px;
        line-height: 26px;
        padding: 0;
    }
    .style_center .post-tran .entry-title > a{
        font-size: 20px;
        line-height: 20px;
    }
    .style_center .article-content {
        bottom: 0;
        left: 0;
        margin: auto;
        right: inherit;
        text-align: left;
    }
    .style_center .entry-title {
        line-height: 30px;
        margin: 0;
    }
    ul.slick-dots li{
        display: none !important;
    }
    .article-content .entry-meta-right{
        line-height: 24px;
    }
    #comments .comment-box{
        display: block;
        width: auto;
    }
    .post-tran .entry-content{
        display: none;
    }
    #sb_instagram.sbi_col_8 #sbi_images .sbi_item{
        width: 25% !important;
    }
    .wrapper-filter{
        float: left;
        padding-left: 0;
        >li{
            padding-left: 0;
            margin-right: 10px;
            margin-bottom: 10px;
        }

    }
    #sb_instagram.sbi_col_8 #sbi_images .sbi_item{
        width: 25%;
        max-height: 130px;
    }
    .error-404, .no-results{
        padding: 50px 0;
    }
}
@media (max-width: 600px) {
    .article-carousel-center .post-list .post-image {
        width: 600px;
        height: 400px;
    }
    .col-2-3box {
        .entry-header {
            padding-top: 30px;
        }
        .entry-header {
            padding-top: 0;
        }
        .post-list .article-content {
            padding:20px;
            padding-bottom: 10px;
        }
        .slick-slide,.box-large {
            margin-left: -7.5px;
            margin-right: -7.5px;
        }
        .box-large {
            .post-item {
                margin-bottom: 15px;
            }
        }
        .box-small {
            padding-right: 7.5px;
            padding-left: 7.5px;
            .post-image {
                min-height: 250px;
            }
        }
    }
    .post-list .article-content .entry-footer {
        margin-top: 45px;
        .entry-footer-social {
            padding-top: 40px;
        }
    }
    .newsletters {
        max-width: 400px;
    }
    #na-footer {
        .col-xs-6,.col-xs-4,.col-xs-8 {
            width: 100%;
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .post-grid {
        .article-content{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
// Small screen / phone 480px-------------------------------------------------------------------------------------------
@media (max-width:$screen-xs-min) {
    .article-carousel-center .post-list .post-image {
        width: 480px;
        height: 350px;
    }
    .wrapper-posts .col-item {
        width: 100%;
    }
    .post-list {
        .article-content {
            padding-left: 15px;
            padding-right: 15px;
        }
        .entry-footer-social {
            text-align: center;
            .entry-footer-right {
                text-align: center;
                margin-top: 10px;
            }
        }
    }
    .post-grid .entry-footer-social .entry-footer-right {
        display: inline-block;
        margin-left: 25px;
        >span {
            &::before {
                content:'';
            }
        }
    }
    .entry-footer-social {
        display: block;
    }
    .box-article > article > * {
        padding-left: 15px;
        padding-right: 15px;
    }
    .entry-footer-social .entry-footer-right {
        text-align: left;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item {
        width: 50%;
        .sbi_photo {
            max-height: 150px;
        }
    }
    .footer-top {
        #sb_instagram .sbi_photo {
            max-height: 100px !important;
        }
    }
    .col-2-3box{
        .post-list {
            .article-content {
                padding-bottom: 0;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        .entry-avatar {
            padding-left: 0;
            padding-right: 0;
        }
        .box-large{
            .post-image{
                min-height: 300px;
            }
        }
        .box-small{
            .post-image{
                min-height: 200px;
            }
            .article-meta{
                display: none;
            }
            .entry-title{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    #na-footer .footer-center,#sb_instagram #sbi_load, #sb_instagram .sb_instagram_error{
        display: none;
        padding: 0 !important;
    }
    .entry-content {
        table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td{
            padding: 10px;
        }
    }
    .slider-blog.blog-box-layout .post-image{
        min-height: 350px;
    }
    .slider-blog .post-tran .article-content {
        bottom: 10px;
        left: 10px;
    }
    .post-related{
        .post-item{
            width: 100%;
        }
    }
    .entry-title{
        font-size: 24px;
        line-height: 30px;
    }

    .wrapper-posts{
        .col-item{
            padding: 0 7.5px;
        }
        .post-item{
            margin-bottom: 15px;
        }
        .archive-blog{
            margin: 0 -7.5px;
        }
    }
    .archive-blog .post-tran .entry-title > a{
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }
    .archive-blog .post-tran .entry-title{
        margin-bottom: 0;
    }
    .archive-blog .post-tran .article-meta{
        display: none;
    }
    .slider-blog{
        .post-tran .entry-title{
            margin-bottom: 15px;
        }
        .archive-blog .post-tran .article-meta{
            display: block;
        }
    }
    .slider-blog .post-tran .entry-title{
        padding-bottom: 0px;
    }
    .blog-column-center-layout .article-content{
        bottom: 0px;
        @include rtl-left(0px);
        .entry-title{
            margin-bottom: 0;
        }
    }
    .product-detail-wrap{
        .entry-summary{
            padding: 50px 20px 30px;
        }
    }
    div.woocommerce-tabs{
        padding: 50px 20px;
    }
    .tabs.wc-tabs.resp-tabs-list >li{
        float: none;
        text-align: left;
        display: block;
        margin-bottom: 10px;
    }
    .widget-services-content{
        margin-bottom: 30px;
    }
    div.newsletters #mc4wp{
        min-width: 200px;
    }
    .widget-introduce .introduce-text{
        padding: 20px;
    }
    div.widget_deals .item-deal{
        padding: 10px;
    }
    div.widget_deals{
        padding-bottom: 50px !important;
    }
    h3.widgettitle{
        font-size: 20px;
    }
    .na-recent-post.col-xs-6{
        width: 100%;
    }
    div.newsletters #mc4wp{
        min-width: 130px !important;
    }
    div.newsletters{
        .btn{
            font-size: 12px;
        }
    }

    .widget-testimonial{
        display: none;
    }
    .widget-banner-slider{
        display: none;
    }
    .widget-product{
        overflow: hidden;
        .slick-prev,.slick-next{
            display:none !important;
        }
    }
    .product-taxonomy .layout-large .caption-product{
        bottom: 0;
        left: 0;
        position: relative;
    }
    .product-taxonomy .layout-large .caption{
        border-top: 1px solid #ebebeb;
    }
    .product-taxonomy .layout-large .product-block{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    }

    .entry_pagination .page-numbers .title-pagination{
        display: none;
    }
    .entry_pagination .page-numbers{
        height: auto;
    }
    #comments .comment-lists{
        ul.children{
            padding-left: 0px;
        }
    }
    .entry-header,.entry-avatar,.entry-content{
         padding-left: 15px;
         padding-right: 15px;
    }
    .post-gird {
        .entry-header,.entry-avatar,.entry-content{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .entry-footer-social .entry-footer-right{
        float: none;
    }
    .count-share .social-icons {
        right: inherit;
        left: 70px;
        opacity: 1;
        top: -20px;
        visibility: visible;
    }
    .entry_pagination .pagination {
        padding: 5px 0 30px;
    }
    .entry-footer-social .entry-footer-left {
        float: none;
    }

    #na-footer .zum-image-content {
        padding: 10px 0 30px;
    }
    #na-footer .footer-top{
        padding: 0;
    }
    #sb_instagram .sbi_follow_btn{
        display: none;
    }
    .post-list{
        padding: 0px;
        .article-content.full-width{
            padding-left: 15px;
        }
    }
    .item-related{
        width: 100%;
    }
    .error-404, .no-results{
        padding: 30px 0;
    }
    .error-404 .searchform .form-control, .no-results .searchform .form-control{
        min-width: 250px;
    }
}

// X-small screen / phone < 400px --------------------------------------------------------------------------------------
@media (max-width: 400px){
    .article-carousel-center .post-list .post-image {
        width: 400px;
    }
    .wrapper-posts{
        .col-item{
            padding: 0 15px;
        }
        .post-item{
            margin-bottom: 30px;
        }
        .archive-blog{
            margin: 0 -15px;
        }
    }
    .archive-blog .post-tran .entry-title{
        margin-bottom: 10px;
    }
    .archive-blog .post-tran .article-meta{
        display: block;
    }
    .archive-blog .post-tran .entry-title > a{
        font-size: 18px;
        line-height: 24px;
        padding: 0;
    }
    .post-sidebar .article-image{
        @include rtl-padding-right(10px);
        width: 40%;
    }
    .box-blog.large-vertical .box-small .article-content{
        width: 60%;
    }
    .woocommerce-ordering .orderby{
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        max-width: 146px;
        padding-right: 20px;
    }
    .top-products .wrap-select > select{
        line-height: 50px;
    }
    //breadcrumb
    .group-cover .title-page{
        font-size: 20px;
    }
    .wrap-breadcrumb-cover .breadcrumb{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
    .scrollup{
        display: none !important;
    }
    .title-pagination{
        display: none;
    }
    .entry_pagination .page-numbers{
        height: auto;
    }

}









