/**************************************************/
/** CUSTOM STYLING FOR THE WORDPRESS CUSTOMIZER ***/
/**************************************************/

#customize-control-header_logo:after {
    content: "Note: Doesn't work if you have uploaded an image logo. Also note that if you want to change the color of the flower decoration you will have to edit the image located in the /img/ folder.";
    font-size: 12px;
    font-style: italic;
    color: #888;
}

#customize-control-header_logo_tagline:after {
    content: "Note: Doesn't work if you have uploaded an image logo.";
    font-size: 12px;
    font-style: italic;
    color: #888;
}

#customize-control-menu_seperators:after {
    content: "Note: Choose if your menu BG is light or dark. The Seperator lines will then fit to your BG color";
    font-size: 12px;
    font-style: italic;
    color: #888;
}

#customize-control-menu_text_color_hover {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

#customize-control-homepage_layout {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

#customize-control-featured_cat_hide:after {
    content: "Note: Check this box if you don't want the featured category to be shown anywhere.";
    font-size: 12px;
    font-style: italic;
    display: block;
    color: #888;
}

#customize-control-header_padding:before {
    content: "Note: Use the exact same file name as your regular logo file and then just put @2x at the end of the name. For example logo@2x.png";
    font-size: 12px;
    font-style: italic;
    display: block;
    color: #888;
}

#customize-control-footer_text:before {
    content: "Note: Use the exact same file name as your regular logo file and then just put @2x at the end of the name. For example logo@2x.png";
    font-size: 12px;
    font-style: italic;
    display: block;
    color: #888;
}

.na-form {
    position: absolute;
    left: -99999px;
}

.na-hr {
    margin: 20px 0px 10px;
}

.na-import-file {
    background: #eeeeee;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 12px;
}

.na-import-images {
    display: block;
    margin-bottom: 10px;
}

.na-uploading {
    background: #eeeeee;
    display: none;
    margin: 10px 0;
    padding: 10px;
    font-size: 12px;
}
/*Layout============================================================================================================= */
.customize-control-layout input[type="radio"] {
    display: none;
}
.customize-control-layout label {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 70px;
}
.customize-control .customize-control-layout label img {
    border: 2px solid transparent;
    opacity: 0.2;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.customize-control .customize-control-layout label.selected img ,
.customize-control .customize-control-layout label:focus img,
.customize-control .customize-control-layout label:hover img {
    border-color: #0073aa #006799 #006799;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
/*Checkbox ========================================================================================================== */
.customize-control-checkbox input[type="checkbox"]{
    display: none;
}
.customize-control-checkbox label{
    margin-left: 0;
}
.customize-control-checkbox label:before{
    background: #fff url("checkbox.png") no-repeat scroll 0 -32px / 16px 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    transition: all 0.2s ease-in-out 0s;
    vertical-align: bottom;
    width: 16px;
}

.customize-control-checkbox .checked::before {
    background-color: #0289c0;
    background-position: 0 0;
    border-color: #0289c0;
    box-shadow: none;
}
.customize-control-checkbox span{
    padding: 10px 0px;
}
/*Heading =========================================================================================================== */
#customize-control-zum_header_woocat .zum-heading-custom{
    margin-top: -12px;
}
.zum-heading-custom{
    padding: 12px;
    margin: 30px -12px 0;
    background: #008EC2;
}
.zum-heading-custom h3{
    color: #FFF;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px !important;
}

/*Toggle Checkbox =================================================================================================== */

.customize-control-toggle-checkbox {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width: 58px;
    height: 26px;
    background: white;
    border-radius: 50px;
    position: relative;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.customize-control-toggle-checkbox:after, .customize-control-toggle-checkbox:before {
    font: 12px/26px Arial, sans-serif;
    position: absolute;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.customize-control-toggle-checkbox:after {
    content: 'OFF';
    right: 8px;
    color: rgba(0, 0, 0, 0.2);
}

.customize-control-toggle-checkbox:before {
    content: 'ON';
    color: transparent;
    left: 10px;
}

.customize-control-toggle-checkbox.checked {
    background: #0289c0;
}

.customize-control-toggle-checkbox.checked:before {
    color: #fff;
}

.customize-control-toggle-checkbox.checked:after {
    color: transparent;
}

.customize-control-toggle-checkbox label {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    background: #fcfff4;
}

.customize-control-toggle-checkbox input[type=checkbox] {
    display: none;
}

.customize-control-toggle-checkbox input[type=checkbox]:checked + label {
    -webkit-transform: translateX(33px);
    transform: translateX(33px);
}
/*Info ============================================================================================================== */
.customize-control-info p {
    margin: 0;
    font-size: 11px;
    line-height: 1.6;
    color: #555555;
}

.customize-control-info p span {
    background: #252525;
    color: white;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1px 5px;
    margin-right: 5px;
}
/*Slider Range ============================================================================================================== */

.customize-control-slider .zum-slider-range.ui-widget-content {
    height: 5px;
    border: none;
    width: 70%;
}

.customize-control-slider .zum-slider-range.ui-widget-content .ui-slider-handle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    border: none;
    top: -0.6em;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background 100ms;
    transition: background 100ms;
}

.customize-control-slider .zum-slider-range.ui-widget-content .ui-slider-handle:hover {
    background: #0289c0;
}

.customize-control-slider .zum-slider-range.ui-widget-content .ui-slider-range {
    background: #0289c0;
}

.customize-control-slider input.zum-slider-range-input {
    width: 15%;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    height: 24px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    background: #0289c0;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline: none;
}

.customize-control-slider input[type=number]::-webkit-inner-spin-button,
.customize-control-slider input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.customize-control-slider label label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.customize-control-slider .reset_default {
    color: #fff;
    font-size: 14px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.customize-control-slider .reset_default:hover {
    color: #0289c0;
}