//style carousel
.slick-prev,
.slick-next{
    display: inline-block;
    height: 42px;
    width: 42px;
    text-align: center;
    cursor: pointer;
    color:$font-color;
    background: #fff;
    border-radius:100%;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    transform: translateY(-50%);
    z-index: 99;
    @include transition(0.4s);
    &:before{
        color: $font-color;
    }
    &:hover{
        background: $theme-color;
        color:#FFF;
        @include transition(0.4s);
        opacity: 1;
        &:before{
            color:#FFF;
        }
    }
}
.article-carousel:hover{
    .slick-prev,
    .slick-next{
        opacity: 1;
    }
}
.product-carousel:hover{
    .slick-prev,
    .slick-next{
        opacity: 1;
    }
}
