//Style share box
.share-links{
    .count-share {
        vertical-align: middle;
        color: #252525;
        position: relative;
        i{
            font-size: 16px;
            color: $theme-color;
        }
        .social-item{
            i{
                font-size: 14px;
                @include rtl-padding-right(0px);
            }
        }
    }
    .social-icons{
        margin: 0;
        @include rtl-text-align-right();
        display: inline-block;
    }
    .social-item{
        height: 32px;
        line-height: 32px;
        cursor: pointer;
        text-align: center;
        width: 32px;
        @include rtl-margin-left(5px);
        border-radius: 100%;
        background: #f1f2eb;
        i{
            color: #e29593;
        }
        @include transition(0.2s);
        &:first-child {
            @include rtl-margin-left(0);
        }
        &:hover {
            i{
                color: #fff;
                @include transition(0.2s);
            }
            background: $theme-color;
        }
        >a {
            display: inline-block;
            color: #323249;
            text-align: center;
            font-size: 14px;
        }
    }

    .author-social{
        border-radius: 100%;
        @include size(24px,24px);
        text-align: center;
        line-height: 20px;
        @include rtl-margin-right(3px);
        .fa{
            font-size: 14px;
            @include rtl-padding-right(10px);
        }
    }
}
//sb_instagram
.sb_instagram{
    position: relative;
}
.sbi_follow_btn{
    margin-left: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .fa-instagram{
        display: block;
        padding-bottom: 10px;

    }
     &:hover  *{
        opacity: 1 !important;
    }
}
#sb_instagram #sbi_load .fa, #sb_instagram .sbi_follow_btn .fa{
    font-size: 24px;
    color: $theme-color;
}
#sb_instagram .sbi_follow_btn a{
    background: none;
    color: #8a8a94;
    font-size: 14px;
    background: #fff;
}
#sb_instagram {
    position: relative;
}