/*Style category blog*/
.archive_description{
    text-transform: capitalize;
    color: #f2f2f2;
}
.title-page,.title-cat{
    margin:0px 0 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-family: $font-family-two;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.archive-blog{
    .box-small  article{
        margin-bottom: 0px;
    }
    .entry-content{
        padding-bottom: 10px;
        color: #323249;
        h1,h2,h3,h4,h5{
            //font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
        }
        p{
            margin-bottom: 10px;
        }
    }
    .entry-action{
        padding-top: 10px;
        @include rtl-padding-left(30px);
    }
    .entry-title{
        font-size: 18px;
        padding: 0;
        font-weight: 400;
        margin-top: 10px;
        line-height: 24px;
    }
    .author {
        text-transform: capitalize;
        font-size: 12px;
    }
    .icon-icon_tag{
        @include rtl-padding-right(5px);
    }
    .post-image{
        padding-bottom: 0;
        @include rtl-text-align-left();
    }
    .post-cat{
        font-size: 14px;
        font-weight: 400;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .comments-link{
        i{
            @include rtl-padding-right(1px);
        }
    }
    .full-width{
        .article-meta{
            margin-top: 5px;
            position: relative;
            width: 100%;
            display: block;
            @include rtl-padding(10px,20px ,20px, 0);
        }
    }

}
.content-area{
    margin-bottom: 30px;
}
.by{
    text-transform: capitalize;
    font-size: 12px !important;
    @include rtl-padding-right(5px);
}
.author {
    text-transform: capitalize;
    font-size: 14px;
    >a{
        text-transform: capitalize;
        color: #757575;
        font-size: 14px;
        font-weight: 500;
        @include rtl-padding-right(30px);
    }
}
.navigation.pagination {
    text-align: center;
}
.category {
    .item-post{
        &:last-child article{
            margin-bottom: 0;
        }
    }
    .sidebar .widget:last-child {
        margin-bottom: 0;
    }
    .content-category {
        margin-bottom: 60px;
    }
}