/*Style post layout*/
.theiaStickySidebar {
    .vc_column-inner {
        padding-left:15px;
        padding-right: 15px;
    }
}
.post-item{
    background: #FFF;
    .total-view,.comments-link{
        display: inline-block;
        padding: 0 5px;
    }
    .article-meta,.posted-on,.entry-meta-right{
        display: inline-block;
        font-size: 12px;
    }
    .comments-link{
        @include rtl-padding-left(5px);
    }
    .ti-comment{
        font-size: 11px;
    }
}
.post-list{
    margin-bottom:30px;
    border-radius: 5px;
    position: relative;
    .entry-title{
        line-height: 28px;
        font-weight: 600;
        margin-top: 0;
    }
    .article-image{
        position: relative;
        display:block;
    }
    .article-content{
        padding-left: 50px;
        padding-right: 50px;
        &.full-width{
            width: 100%;
            .article-meta{
                margin: 0;
                padding:10px 20px 0px 0;
            }
        }
        .entry-footer  {
            position: relative;
            margin-top: 40px;
        }
    }
    .post-quote.full-width{
        display: none;
    }
    .entry-header{
        .posted-on{
            font-weight: 500;
            color: $color-title;
            font-size: 16px;
            margin-top: 5px;
            a{
                color: $color-title;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .entry-meta-right{
        padding: 0 !important;
    }
    .entry-content{
        padding-bottom: 0;
        padding-top: 15px;
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
    .entry-excerpt{
        padding: 0;
        margin: 0;
        font-style: normal;
    }

    .author strong{
        font-size: 12px;
        color: $font-color;
        font-weight: 600;
        &:hover{
            color: $theme-color;
        }
    }

    .wp-post-image{
        width: 100%;
    }
    .article-meta{
        color: #8f8f8f;
        display: block;
        line-height: 24px;
        @include rtl-right(0px);
        a{
            font-size: 12px;
            color: #8f8f8f;
            &:hover{
                color:$theme-color;
            }
        }
    }
}

.post-grid{
    margin-bottom: 30px;
    position: relative;
    .entry-footer-left {
        position: relative;
    }
    .entry-header {
        padding-top: 0;
    }
    &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0px;
        background: rgba(221,231,240,1);
        background: -moz-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,231,240,1)), color-stop(14%, rgba(199,245,239,1)), color-stop(35%, rgba(199,245,239,1)), color-stop(51%, rgba(250,214,206,1)), color-stop(73%, rgba(250,214,206,1)), color-stop(100%, rgba(220,238,240,1)));
        background: -webkit-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -o-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -ms-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: linear-gradient(to right, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde7f0', endColorstr='#dceef0', GradientType=1 );
    }
    .share-links {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        left: 0;
        top: -10px;
        background: #fff;
        line-height: 50px;
        @include translateY(10%);
        @include transition(0.6s);
        &:hover {
            opacity: 1;
            pointer-events: initial;
            @include translateY(0%);
            @include transition(0.6s);
        }
    }
    .entry-footer-social {
        display: block;
        border: none;
        padding: 0;
        .entry-footer-right {
            float: none;
            display: inline-block;
            margin-left: 25px;
            span {
                cursor: pointer;
                position: relative;
                line-height: 20px;
                &:hover {
                    + .share-links {
                        opacity: 1;
                        pointer-events: initial;
                        @include translateY(0%);
                        @include transition(0.6s);
                    }
                }
                &::before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    position: absolute;
                    background: #f1f2eb;
                    border-radius: 100%;
                    left: -15px;
                    top: 4px;
                }
            }
        }
    }
    .article-meta {
        display: block;
    }
    .article-content{
        padding: 15px 30px 25px;
        *{
            text-align: center;
        }
    }
    .article-image{
        position: relative;
    }
    .entry-title{
        font-size: 14px;
        line-height: 24px;
        margin-top:0;
    }
    .full-width .article-meta{
        padding:10px 20px 0 0;
    }

    .post-format{
        right:10px;
        left: auto;
    }
    .article-content{
        &.full-width{
            .post-format{
                display: none;
            }
        }
    }
    .article-meta{
        color: #a6a6a6;
        a{
            color: #a6a6a6;
            &:hover{
                color:$theme-color;
            }
        }
    }
    .post-quote.full-width{
        text-align: center;
        .post-format{
            border: none;
            padding-top: 15px;
            background: none;
            font-size: 50px;
            color: #ccc;
            box-shadow: none;
            bottom: auto;
            left: auto;
            position: relative;
            display: inline-block;
            top: auto;
            right:auto;
        }
    }
    .article-content.no-thumb{
        min-height: 275px;
        padding: 0;
        .post-cat{
            position: relative;
            left: 0;
            top:0;
            a{
                padding: 0;
            }
        }
        .entry-content{
            padding: 15px 0 15px;
        }
    }
}
.post-sidebar{
    .article-content{
        padding-left: 30px;
    }
    .entry-title > a{
        font-size: 16px;
        font-weight: 600;
    }
    .post-cat a::before{
        content: none;
    }
    .post-cat a{
        padding: 0;
    }
}

.css-content{
    .post-list{
        .entry-header{
            padding: 30px 30px 0 0;
        }
        .entry-content{
            padding: 30px 30px 0 0;
        }
    }
}

.widgettitle.title-box{
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 5px;
    margin: 0;
}
.wrapper-filter{
    list-style: none;
    display: inline-block;
    float: right;
    vertical-align: bottom;
    padding-bottom:40px;
    padding-top:5px;
    margin: 0;
    li{
        display: inline-block;
        padding-left: 30px;
        position: relative;
        &.active .cat-item{
            background: $theme-color;
            color: #fff;
        }
    }
    .cat-item{
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: $color-title;
        padding: 5px 20px;
        background: #fff;
        color: $theme-color;
        border-radius: 50px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
        &:hover{
            background: $theme-color;
            color: #fff;
        }
        &.active{
            background: $theme-color;
            color: #fff;
        }

    }
}
.tab-content .archive-blog{
    display: none;
    &.active{
        display: block;
    }
}
.post-date{
    position: relative;
}
.post-date:before{
    background: #f1f2eb none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: -15px;
    position: absolute;
    top: 6px;
    width: 7px;
}