/*Style single blog*/
.post-format .ti-control-play,.post-format .ti-camera,.post-format .ti-headphone,.post-format .ti-quote-left{
    position: absolute;
    right:10px;
    top:10px;
    background: $theme-color;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    border-radius: 100%;
    line-height: 45px;
    @include transition(0.2s);
    display:none;
    &:hover{
        @include transition(0.2s);
        background: $theme-color;
        color: #f1f1f1;
    }
}
.box-article {
    background: #fff;
    >article {
        >*{
            padding-right: 50px;
            padding-left: 50px;
        }
        >.post-image {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.single {
    .post-image {
        .wp-post-image{
            display: inline-block;
            text-align: center;
        }
        box-shadow:none;
    }
}
.post-image{
    text-align: center;
    //box-shadow: 22px 39px 83px -49px rgba(0,0,0,0.75);
    position: relative;
    > *{
        display: block;
    }
    ul li{
        list-style:none;
    }
    .owl-carousel{
        padding: 0;
        z-index: 999;
        .fa{
            font-weight: 700;
        }
        .owl-prev{
            left:15px;
            border-width:2px;
        }
        .owl-next{
            right:15px;
            border-width:2px;
        }

    }
    img{
        float: none !important;
    }
}
.posted-on {
    position: relative;
    &::after {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background: #f1f2eb;
        border-radius: 100%;
        right: -15px;
        top: 6px;
    }
    @include rtl-margin-right(25px);
    @include rtl-float-left;
    a{
        line-height: initial;
        float: left;
    }
}
.post-cat{
    color: $theme-color;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 5px;
    @include rtl-padding-left(0px);
    display: block;

    a{
        color: #fff;
        padding: 6px 10px;
        position: relative;
        display: inline-block;
        background: #6dc6b9;
        line-height: 9px;
        margin-bottom: 5px;
        @include transition(0.2s);
        font-size: 12px;
        @include transition(0.2s);
        &:hover {
            background: #53ac9f;
            color: #fff;
        }
    }
}

article {
    .slick-prev, .slick-next {
        border-radius: 0;
        height: 32px;
        width: 32px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}
.post-date{
    color: #7c7c7e;
    @include rtl-padding-left(5px);
    font-size: 12px;
}
.entry-header{
    padding-top: 30px;
    text-align: center;
}
.entry-title{
    display: inline-block;
    padding-top: 2px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    font-family: $font-family-two;
    font-weight: 600;
    margin-top: 0;
    color: #48494d;
    >a{
        color: #48494d;
        font-weight: 600;
        &:hover{
            color: $theme-color;
        }
        font-family: $font-family-two;
    }
}
.entry-excerpt{
    font-size: 14px;
    color: #8a8a94;
    padding: 10px 0px 0;
}
.entry-avatar{
    padding: 0 0 15px;
    .avatar{
        border-radius: 100%;
        @include rtl-margin-right(10px);
    }
    .author-by,.author-on{
        color: #747474;
        font-size: 12px;
    }
    .author-title{
        font-weight: 500;
        margin-right: 20px;
        position: relative;
        &::after {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            background: #f1f2eb;
            border-radius: 100%;
            right: -19px;
            top: 7px;
        }
    }
    .author-link{
        text-transform: capitalize;
        color: #8a8a94;
        font-size: 12px;
        @include transition(0.2s);
        &:hover {
            color: $theme-color;
        }
    }
    .count-share{
        @include rtl-float-right();
    }
    >*{
        display:inline-block;
    }
}
.cat-item {
    a{
        display: inline-block;
        position: relative;
    }
    &::before {
        content: "\f105";
        font-family: 'fontawesome';
        position: absolute;
        right: 50px;
    }
}
.about-image {
    border-radius: 100%;
    position: relative;
    border: 5px solid #fff;
    box-shadow: -1px 10px 35px -8px #efdfd9;
}
.entry-footer-social {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .comment-text {
        line-height: initial;
    }
}
.comment-text {
    @include rtl-float-left;
}
#comments {
    .comment-text {
        float: none;
    }
}
.entry-footer{
    i{
        font-size: 14px;
        @include rtl-padding-right(3px);
        line-height: 22px;
    }

    .comment-text{
        float: left;
        .fb_comments_count{
            @include rtl-padding-right(5px);
        }
        .i{
            font-size: 16px;
        }
        .txt{
            font-size:12px;
        }
    }
    .total-view{
        @include rtl-padding-right(20px);
    }
}
.archive-header .entry-title{
    padding: 15px 0;

}

//meta comment
.post-comment{
    padding-bottom: 25px;
    line-height: 24px;
    .fa{
        @include rtl-padding-right(10px);
        color: $theme-color;
    }
    span{
        font-size: 12px;
        &:first-child{
            @include rtl-padding-left(0px);
        }
    }
}

//tag
.tags-wrap .tags{
    > span{
        font-weight: bold;
        font-size: 16px;
        @include rtl-padding-right(5px);
    }
    .fa{
        @include rtl-padding-right(10px);
        color: $font-color;
    }
    a{
        background: #ffffff none repeat scroll 0 0;
        color: #8a8a94;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 5px;
        border-radius: 3px;
        @include rtl-margin-right(5px);
        padding: 2px 10px;
        text-decoration: none;
        transition: all 0.2s ease 0s;
        &:hover{
            @include transition(0.2s);
            background: $theme-color;
            color: #FFF;
        }

    }
}

//content
.entry-content{
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
    color: #323249;
}
//avatar
.author-img{
    >img{
        border-radius:100%;
        max-width:inherit;
    }
}
.avatar{
    >img{
        max-width:inherit;
        border-radius: 100%;
    }
}
.author-content{
    h5{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a{
        color: $color-title;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }
    .author-social{
        margin: 0 15px;
        .ti-facebook{
            color: #3b5998;
        }
        .ti-twitter-alt{
            color: #00aced;
        }
        .ti-google{
            color: #dd4b39;
        }
    }
    p{
        font-size: 14px;
        color:#8a8a94 ;
        margin: auto;
        line-height: 24px;
    }
}
//comment
.comment-text{
    .tags-link-wrap{
        @include rtl-padding-right(30px);
        display: inline-block;
    }
    .text-comment{
        .fa{@include rtl-padding-right(10px);}
        display: inline-block;
    }
}
.comment-box{
    .comment-text{
        color: #8a8a94;
        font-size: 14px;
        line-height: 24px;
        padding: 6px;
        padding-left: 0;
        >p{
            margin:0;
        }
    }
}
.commentform{
    padding-bottom:0;
    h3 {
        margin-bottom: 0;
    }
}
.contact-info {
    li {
        line-height: 34px;
    }
    i {
        background: #f1f2eb;
        border-radius: 100%;
        height: 24px;
        width: 24px;
        font-size: 12px;
        text-align: center;
        line-height: 24px;
        margin-right: 10px;
    }
}
.comments-list {
    margin-top: 25px;
}
#comments{
    .h-info {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .heading{
        color: #48494d;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 5px;
        &::before{
            content: none;
        }
    }
    .comment-list{
        padding: 0;
        margin: 0;
        li.comment {
            border-top: 1px solid $border-color;
            list-style: outside none none;
            padding: 35px 0;
        }
    }

    .text-user{
        text-transform: capitalize;
        font-weight: 600;
        color: #1f1f2e;
        >a{
            color: $theme-color;
        }
    }
    .meta-user{
        color: #7c7c7e;
        padding-top: 20px;
        a{
            color: #1f1f2e;
            font-size: 14px;
            padding-right: 10px;
            font-weight: 400;
            @include transition(0.2s);
            &:hover {
                color: $theme-color;
            }
        }
    }

    .children{
        @include rtl-padding-left(85px);
        li:first-child{
            margin-top: 20px;
        }
        li:last-child{
            padding-bottom: 0;
        }
    }
    .the-comment > .avatar{
        @include rtl-padding-right(60px);
    }
    .ground-user{
        .comment-time{
            padding: 5px 0;
            display: block;
            font-size: 12px;
        }
    }
    .comment-lists {
        >ol {
            >li{
                &:first-child {
                    border: none;
                    padding-top: 25px;
                    >.the-comment .comment-box {
                        padding-bottom: 15px;
                    }
                }
                &:last-child {
                    border-bottom:1px solid $border-color ;
                }
            }
        }
    }
}
#commentform{
    .comment-text{
        text-transform: lowercase;
    }
}

//post related
.post-related{
    margin-top: 10px;
    .post-box{
        @include rtl-text-align-left();
    }
    .widgettitle{
        @include rtl-text-align-left();
        text-align: left;
        display: inline-block;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: 5px;
        &::before {
            content: none;
        }
    }
    .post-cat{
        font-size: 12px;
    }
    .group-des{
        color: $font-color;
        font-style: italic;
        font-size: 12px;
    }
    .author-link{
        font-weight:600;
        color:$font-color;
        font-style: normal;
        &:hover{
            color: $theme-color;
        }
    }
}
.item-related{
    .post-format{
        width: 30px;
        height: 30px;
        @include rtl-right(20px);
        line-height: 32px;
        font-size: 12px;
        bottom: -15px;
        top:auto;
    }
}
.item-related{
    border-radius: 3px;
    &:nth-child(2n+1){
        clear: left;
    }
    img{
        width: 100%;
    }
    .post-image{
        padding: 0;
    }
    .ground-title{
        min-height: 70px;
        padding: 15px 20px 30px;
    }
    .post-title{
        @include rtl-text-align-left();
        font-size: 14px;
        color: $color-title;
        margin: 3px 0 20px;
        line-height: 20px;
        min-height: 40px;
        >a{
            color:$color-title;;
            font-weight:500;
            &:hover{
                color: $theme-color;
            }
        }
    }
    .embed-responsive{
        overflow: visible;
    }
}

//comments
.item-comment{
    padding:0;
    font-style: normal;
    margin: 0;
    >span{
        vertical-align: middle;
        font-weight: 500;
        @include rtl-padding-left(7px);
        font-size: 13px;
    }
    i{
        font-size: 14px;
    }
}
.icon-comment{
    font-size: 18px;
    color: #D1D1D0;
    @include rtl-padding-left(0px);
}
//pagination post
.entry_pagination{
    padding-top: 30px;
    .page-numbers {
        &:hover {
            span {
                color: $theme-color;
                @include transition(0.2s);
            }
        }
    }
    .pagination{
        margin: 0;
        border: none;
        @include transition(0.2s);
        .page-numbers:hover{
            .fa{
                color: #fff;
            }
        }

    }

    .page-numbers{
        background: none;
        box-shadow: none;
        color: $color-title;
        width: auto;
        vertical-align: middle;
        border-radius:0;
        margin: 0;
        border: none;
        i{
            color: #8a8a94;
            background: #f1f2eb;
            border-radius: 100%;
            text-align: center;
            font-size: 14px;
            height: 32px;
            width: 32px;
            line-height: 32px;
            @include transition(0.2s);
        }
        &:hover{
            color: $theme-color;
            background: none;
            box-shadow: none;
            border: none;
            i{
                color:white;
                background:$theme-color;
            }
        }
        &.page-prev{
            max-width: 50%;
            @include rtl-text-align-left();
            @include transition(0.2s);
            border-radius: 0 0 0 5px;
        }
        &.page-next{
            max-width: 50%;
            @include rtl-text-align-right();
            @include transition(0.2s);
            border-radius: 0 0 5px 0;
        }
        .btn-prev{
            font-size: 14px;
            font-weight: 400;
            @include rtl-padding-left(7px);
            color:#8a8a94;
            @include transition(0.2s);
        }
        .btn-next{
            color:#8a8a94;
            font-size: 14px;
            font-weight: 400;
            @include rtl-padding-right(7px);
            @include transition(0.2s);
        }
        .title-pagination{
            font-weight: 600;
            line-height: 20px;
            padding-top: 15px;
            font-family: $font-family-two;
        }

    }
}
.form-submit{
    @include clearfix();
    margin-top: 30px;
    margin-bottom: 0;
}

.article-meta-single{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .post-date {
        color: #7c7c7e;
        font-size: 12px;
        @include rtl-padding-left(7px);
        text-transform: uppercase;
    }
}
.post-author{
    display: table;
    overflow: hidden;
    padding-top: 40px;
    border-radius: 5px;
    padding-bottom: 40px;
    border-top: 1px solid #f1f2eb;
    border-bottom: 1px solid #f1f2eb;
}
.top-author {
    padding-bottom: 5px;
}
.content-social-author {
    display: inline-block;
    float: right;
}
.author-content{
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
    .author-social{
        i {
            font-size: 14px;
        }
        margin: 0 15px;
        .ti-facebook{
            color: $theme-color;
        }
        .ti-twitter-alt{
            color:$theme-color;
        }
        .ti-google{
            color:$theme-color;
        }
    }
    h5{
        display: inline-block;
        margin: 0;
        a {
            font-weight: 600;
            color: #1f1f2e;
            text-transform: capitalize;
            font-family: $font-family-two;
        }
    }

    a{
        color: $color-title;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
    }

    p{
        font-size: 14px;
        color:#323249 ;
        line-height: 24px;
        margin: auto;
    }
}
.tags-wrap{
    padding-top: 20px;
    .tags-title{
        font-weight: 500;
        color: $color-title;
        line-height: 30px;
    }
}
.readmore {
    border-radius: 100px;
    height: 40px;
    display: block;
    width: 180px;
    background: #fad6d5;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    color: #323249;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -7px;
    &:hover {
        color: #fff;
    }
}
.entry-footer {
    padding-top: 15px;
}
.entry-footer-social{
    padding: 18px 0;
    border-top: 1px solid #f1f2eb;
    .entry-footer-left{
        display: inline-block;
        *{
            font-size:12px;
            color: #8a8a94;
        }
    }
    .entry-footer-right{
        -webkit-flex: 2 1 auto;
        -ms-flex: 2 1 auto;
        flex: 2 1 auto;
        text-align: right;
        @include rtl-float-right();
        >*{
            display: inline-block;
        }
        .lc-4,.lc{
            color: #8a8a94;
            height: 30px;
            @include rtl-left(0);
            position: absolute;
            top: 0;
            width: 30px;
            font-size: 0;
        }
        .action-like  span::before{
            font-size: 14px;
            @include rtl-left(-22px);
            line-height: 5px;
            top: 6px;
            color: #DD4B39;
        }
        .like-links{
            cursor: pointer;
            &:hover{
                color: #DD4B39;
                a{
                    color: #DD4B39;
                }
            }
        }
    }
}
.count-share{
    .social-icons{
        @include rtl-right(0px);
        z-index: 999;
    }
}


//like
.entry-content{
    .watch-action{
        display: none !important;
    }
    a{
        color: $theme-color;
    }
}
.entry-footer {
    .entry-footer{
        @include rtl-padding-left(60px);
    }
}
.main-like {
    float: left;
    display: table;
    position: relative;
    margin-right: 25px;
    &::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background: #f1f2eb;
        border-radius: 100%;
        right: -15px;
        top: 9px;
    }
}
.watch-action{
    width: initial;
    display: table-cell;
    float: none;
    .watch-position,.action-like,.lc,.unlc{
        float: none;
        line-height: 24px;
    }
    position: relative;
    .action-like,.action-unlike{
        img{
            display: none;
        }
    }
    .action-like{
        position: relative;
        @include rtl-padding-left(15px);
        >a{
            color: #8a8a94;
            .lc{
                color:#8a8a94;
            }
        }
        span::before{
            content:"\e634";
            font-family: 'themify';
            font-size: 12px;
            @include rtl-left(0);
            position: absolute;

        }
    }
    .action-unlike{
        display: none !important;
    }
    .status{
        display: none !important;
    }

}
.main-content .box-comment{
    margin-bottom: 0;
}
.comment-navigation{
    clear: both;
    padding: 0 0 30px;
    .previous{
        @include rtl-float-left();
        display: inline-block;
    }
    .next{
        @include rtl-float-right();
        display: inline-block;
    }
}
.taxonomy-description {
    font-size: 14px;
    margin-bottom: 30px;
}
.description-page{
    display: none;
    &.show{
        display: block;
    }
}
.post-image.post-image-related {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-sizing: border-box;
    min-height: 212px;
    width: 100%;
}
.na-banners  {
    position: relative;
    .content {
        position: absolute;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 9;
        background: #6dc6b9;
        left: 50%;
        padding: 5px 13px;
        top: 50%;
        &::after {
            content: "";
            position: absolute;
            left: -4px;
            right: -5px;
            top: -4px;
            bottom: -4px;
            z-index: -1;
            opacity: 0.9;
            border: 1px solid #6dc6b9;
        }
        .bannertitle {
            margin: 0;
            font-size: 16px;
            font-weight: 500;
            a{
                color: #fff;
            }
        }
    }
}
.vc_col-lg-8,.vc_col-md-8 {
    .navigation.pagination {
        text-align: left;
    }
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: 0;
}