//style widget About
.widget.about {
    text-align: center;
    padding: 45px 30px 45px;
    position: relative;
    [class*="ion-social-"] {
        height: 32px;
        width: 32px;
        font-size: 13px;

        text-align: center;
        margin-right: 7px;
        background:$theme-color;
        border-radius: 100%;
        &:last-child {
            margin-right: 0;
        }
        i{
            font-size: 13px;
            line-height: 33px;
            color: #fff;
            margin-right: 0;
            @include transition(0.4s);
        }
        &:hover {
            i {
                color: #fff;
            }
        }
    }
    .widgettitle {
        text-align: center;
        margin-bottom: 0;
        color: #1f1f2e;
        font-weight: 600;
        font-size: 20px;
        &::before{
            content: none;
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        padding-top: 120px;
        background: rgba(221,231,240,1);
        background: -moz-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,231,240,1)), color-stop(14%, rgba(199,245,239,1)), color-stop(35%, rgba(199,245,239,1)), color-stop(51%, rgba(250,214,206,1)), color-stop(73%, rgba(250,214,206,1)), color-stop(100%, rgba(220,238,240,1)));
        background: -webkit-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -o-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -ms-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: linear-gradient(to right, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde7f0', endColorstr='#dceef0', GradientType=1 );
    }
    .about-description {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0.2px;
        padding-top:10px;
    }
    .wide-social-icon {
        margin-top: 20px;
    }
}
#na-footer {
    .widget.about {
        @include rtl-text-align-left();
        .about-image{
            margin:0;
            border-radius: 0;
            max-width:inherit;
        }
        .about-description{
            @include rtl-text-align-left();
        }
        .zum-social-icon{
            padding-top:0px;
            border-top:none;
            a{
                @include rtl-margin(0px,10px, 0 ,0);
                border: 1px solid #eee;
            }
        }

    }
}
