//style widget Banner image Customize
.na-banners{
    position: relative;
    margin-bottom: 10px;
    .content{
        position: absolute;
        top:30px;
        left:30px;
        z-index: 1;
        &.right{
            left:auto;
            right:30px;
        }
        &.middle-left{
            top:40%;
        }
        &.middle-right{
            top:40%;
            left:auto;
            right:30px;
            @include rtl-text-align-right();
        }
        &.center{
            left:0;
            right:0;
            top:auto;
            bottom: 30px;
        }
    }
    .bannertitle{
        color: #282828;
        margin: 0;
        font-size: 16px;
    }
    .subtitle{
        margin: 0;
        font-size: 14px;
        color: #888;
        line-height: 30px;
        a{
            color:#888;
            &:hover{
                color: #282828;
            }
        }
    }
}
.box-instagram{
    h2{
        margin-bottom: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        text-transform: capitalize;
    }
    p{
        text-align: center;
        color:#888;
    }
    margin-bottom: 30px;
}
.no-padding{
    .vc_column-inner{
        padding: 0 !important;
    }
}