// Style Newsletters
input[type=email]{
}
.newsletters{
    text-align: center;
    max-width: 370px;
    max-height: 270px;
    padding:45px 25px;
    position: relative;
    margin: auto;
    i{
        height: 70px;
        width: 70px;
        border-radius: 100%;
        line-height: 70px;
        box-shadow: -1px 10px 35px -8px #efdfd9;
        position: absolute;
        top: -45px;
        Z-INDEX: 9;
        background: #fff;
        transform: translateX(-50%);
        font-size: 18px;
    }
    .widgettitle{
        margin: auto;
        text-align: center;
        max-width: 220px;
        margin-bottom: 20px;
        padding-bottom: 0;
        font-size: 20px;
    }
    .des-newsletter{
        line-height: 24px;
    }
    .group-input-newsletter{
        display:inline-block;
    }
    input,.form-control{
        height: 40px;
        font-size: 14px;
    }
    #mc4wp{
        width: 100%;
        padding: 6px 15px;
        margin-bottom: 10px;
        &.form-control::-moz-placeholder {
            color: #999999;
        }
    }

    .btn-newsletter{
        border: none;
        color: #fff !important;
        font-weight: 500;
        width: 100%;
        font-size: 14px;

    }
}
.mc4wp-response {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}