//style widget Service

.widget-services-image{

    .title-service{
        margin-bottom: 20px;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
    }
    .image{
        margin-bottom: 30px;
    }
    .services-content{
        line-height: 26px;
        color: #7d7d7d;
        text-align: center;
    }
    .widget-content{
        padding-top:0 ;
    }
}