[class*="ion-social-"]{
    color: #8a8a94;
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    @include transition(0.4s);
    i{
        margin-right: 10px;
    }
}

.zum_social{
    .ion-social-facebook{
        &:hover{
            color: #3b5998;
            border: 2px solid #3b5998;
        }
    }

    .ion-social-googleplus{
        &:hover{
            color: #dd4b39;
            border: 2px solid #dd4b39;
        }
    }

    .ion-social-twitter{
        &:hover{
            color: #00aced;
            border: 2px solid #00aced;
        }
    }

    .ion-social-instagram{
        &:hover{
            color: #517fa4;
            border: 2px solid #517fa4;
        }
    }

    .ion-social-pinterest{
        &:hover{
            color: #cb2027;
            border: 2px solid #cb2027;
        }
    }

    .ion-social-skype{
        &:hover{
            color: #0078ca;
            border: 2px solid #0078ca;
        }
    }

    .ion-social-vimeo{
        &:hover{
            color: #aad450;
            border: 2px solid #aad450;
        }
    }
    .ion-social-youtube{
        &:hover{
            color: #bb0000;
            border: 2px solid #bb0000;
        }
    }

    .ion-social-dribbble{
        &:hover{
            color: #ea4c89;
            border: 2px solid #ea4c89;
        }
    }

    .ion-social-linkedin{
        &:hover{
            color: #007bb6;
            border: 2px solid #007bb6;
        }
    }

    .ion-social-rss{
        &:hover{
            color: #FF9900;
            border: 2px solid #FF9900;
        }
    }
}

.widget_apsc_widget{
    .apsc-inner-block{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .apsc-each-profile{
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        &:last-child{
            border-bottom: none;
            padding: 0;
        }
    }
    .apsc-icons-wrapper{
        padding-top: 0;
    }

    .social-icon {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        vertical-align: middle;

        .fa{
            font-size: 20px;
            width: 20px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            @include rtl-margin-right(15px);
        }
        .media-name{
            color: #585858;
            font-size: 14px;
            text-transform: uppercase;

        }
    }
    .apsc-count{
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        vertical-align: middle;
        height: 50px;
        @include rtl-text-align-right();
        line-height: 50px;
        @include rtl-margin-right(5px);
    }
    .apsc-media-type{
        line-height: 50px;
        text-transform: lowercase;
    }

    .fa-facebook{
        color: #3b5998;
    }

    .fa-google-plus{
        color: #dd4b39;
    }

    .fa-twitter{
        color: #00aced;
    }

    .fa-instagram{
        color: #517fa4;
    }

    .fa-pinterest{
        color: #cb2027;
    }

    .fa-skype{
        color: #0078ca;
    }

    .fa-vimeo{
        color: #aad450;
    }
    .fa-youtube{
        color: #bb0000;
    }

    .fa-dribbble{
        color: #ea4c89;
    }

    .fa-linkedin{
        color: #007bb6;
    }

    .fa-rss{
        color: #FF9900;
    }
}