//Style Footer
.scrollup {
    border-radius: 100%;
    color: #151515 !important;
    cursor: pointer;
    height: 50px;
    left: 0;
    margin: auto;
    padding: 2px;
    position: absolute;
    right: 0;
    display: none;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    top: -30px;
    width: 50px;
    z-index: 999;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    line-height: 46px;
    &:hover{
        background: $theme-color;
        color: #FFF !important;
    }
}

#na-footer {
    font-weight: 400;
    background:$footer-bg;
    color:$footer-color ;
    font-size: 14px;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    padding-top: 55px;
    [class*="ion-social-"] {
        display: block;
    }
    &.footer-2 {
        padding-top: 0;
    }
    .contact-info  {
        li{
            line-height: 34px;
        }
    }
    .footer-top{
        text-align: center;
        margin-bottom: 50px;
    }
    .footer-center {
        position: relative;
        text-align: center;
    }

    .footer-bottom {
        .copy-right {
            text-align: center;
            padding: 40px 0;
            border-top: 1px solid #eee;
            margin-top: 75px;
            a {
                color:$color-title;
                font-weight: 500;
                &:hover{
                    color: $theme-color;
                }
            }
        }
    }
    .zum-image-content{
        padding: 100px 0 50px;
    }

    .fa-heart{
        color: $theme-color;
    }
    .widget_contact_info {
        p>span{
            color: #323249;
            line-height: 24px;
        }
    }
}

