//Style  Home layout

.home{
    .wrap-breadcrumb{
        display: none;
    }
    .page-header{
        display: none;
    }
}

.site-title{
    display: inline-block;
}
.container-fluid,.container-full{
    max-width:1770px;
    margin-left: auto;
    margin-right: auto;
    .container-inner{
        padding: 0 60px;
    }
}
.site-content{
    padding-top:0px;
    padding-bottom:0px;
}
.wrap-content{
    margin-top:30px;
}
// TopBar ==============================================================================================================

//====================Header===========================

//====================Footer===========================
#na-footer{
    ul{
        padding: 0;
        list-style: none;
        ul {
            padding-top: 10px;
            @include rtl-padding-left(20px);
        }
        li{
            color:$footer-color ;
            line-height: 32px;
            &:last-child{
                border-bottom:none;
            }
            b{
                font-weight: bold;
                color: $footer-color ;
            }
            a{
                color:$footer-color;
                &:hover{
                    color:$coppy-right-color-link;
                }
            }
        }
    }
    select{
        color: $footer-color ;
        width: 100%;
    }
    .widgettitle{
        color: $footer-title-color;
        &:after{
            content:none;
        }
    }

    b, strong,.wp-caption .wp-caption-text, .entry-caption, .gallery-caption{
        color: $white;
    }
    .newsletters{
        color:$footer-color;
        .widgettitle {
            text-transform: initial;
            line-height: 28px;
        }
        .group-input-newsletter{
        }
        #mc4wp{
            min-width:auto;
        }
        .input,.form-control{
            height: 40px !important;
            &:focus,&:active{
                border-color: #ebebeb;
            }
        }
        .btn-newsletter{
            font-size: 12px;
            height: 40px !important;
            &:hover {
                background: $theme-color;
                @include transition(0.2s);
            }
        }
    }

}
.navigation {
    a,span{
        margin-right: 5px;
        background: #f1f2eb;
        color: #323249;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        display: inline-block;
        line-height: 32px;
        text-align: center;
        &:hover {
            background: $theme-color;
            color: #fff;
        }
    }
    span {
        background: $theme-color;
        color: #fff;
        &:hover {
            color: #323249;
        }
    }
}

