/*
* Style Page
*/
.main-content{
    padding-bottom: 50px;
}

.page-header{
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: none;
}
.page-title{
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: $font-family-two;
    font-weight: bold;
    > h1{
        margin-top: 0;
        font-size: 30px;
        font-family: $font-family-two;
        font-weight: bold;
    }
}
.page-content{
    padding-top: 30px;
    padding-bottom: 30px;
}

/**
 * Contact form
 */
.contact{
    .fa{
        color: $theme-color;
        font-size: 18px;
        width: 30px;
    }
}

/**
 * error 404
 */
.error-404 .searchform .input-group, .no-results .searchform .input-group {
    max-width: 500px;
}
.error-404,.no-results {
    padding: 200px 0;
    text-align: center;
    .page-title{
        margin: 0;
    }
    .searchform{
        display:inline-block;
        .input-group{
            padding-right: 30px;
        }
        .form-control{
            background: #fff;
            width: 100%;
            height: 50px;
            min-width: 400px;
        }
        button{
            height: 50px;
            background: #fff;
            color: $theme-color;
            border: none;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }
}

/**
 * panel
 */
.panel{
    box-shadow: none;
}
.panel-heading >*,.panel-title{
    font-size: 18px;
    text-transform: uppercase;
}
.panel-body{
    padding: 30px;
    .form-row{
        margin-bottom: 20px;
    }
}

.edit {
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}

//contact
.fa-map-marker,.fa-phone,.fa-envelope-o{
    @include rtl-margin-right(10px);
    color: #000;
}
