//Style

.sidebar{
    padding-bottom: 50px;
    color: #555555;
    font-size: 15px;
    .entry-footer-social {
        border: none;
        padding: 0;
    }
    .side-item-text {
        display: table-cell;
        vertical-align: middle;
        padding-left: 15px;
        h5{
            display: block;
        }
        .post-date {
            padding: 0;
        }
    }
    .content-inner{
        background: none;
        box-shadow: none;
    }
    .widget{
        background: #FFF;
        margin-bottom: 30px;
        padding: 30px;
        &:last-child{
            margin-bottom: 99px;
        }
    }
    //element
    a{
        &:hover{
            color: $theme-color;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            border-bottom: 1px solid #eee;
            color: $font-color;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            padding: 15px 0;
            &:first-child{
                padding-top: 0px;
            }
            &:last-child{
                padding-bottom: 0;
                border-bottom:none;
            }
            &.current-cat >a{
                color: $theme-color;
            }
            .children{
                border-top: 1px solid #ebebeb;
                margin-top: 10px;
            }
            ul li{
                @include rtl-padding-left(20px);
                &:first-child{
                    padding-top: 15px;
                }
            }

        }
    }
    //widget
    .widget{
        overflow: visible;
        &:first-child{
            .widgettitle{
                border:none;
                padding-top: 20px;
            }
        }
    }

    .widgettitle{
        font-size: 16px;
        padding-top: 0;
        margin-top: 0;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-bottom: 10px;
        display: block;
        @include rtl-text-align-left();
        color: $color-title;
        img{
            width:auto;
            height: auto;
        }
        &::after{
            content: none;
        }
    }


    .widgettitle + *{
        margin: 0;
        padding-top:20px;
    }
    select{
        margin:20px 0 0;
        width: calc(100%);
    }


    //
    .widget.dropdown{
        .widgettitle{
            po
            &:after{
                color: #282828;
                content: "\f067";
                font-family: "fontawesome";
                font-size: 12px;
                position: absolute;
                @include rtl-right(15px);
                top: 0px;
            }
        }
        .widgetcontent.dropdown-menu{
            position: relative;
            float: none;
            border: none;
            box-shadow: none;
        }
    }
    //
    .vc_column_container > .vc_column-inner{
        padding: 0;
    }
    //recentcomments
    #recentcomments{
        li > a{
            color: $theme-color;
        }
    }

    .post-item{
        box-shadow: none;
    }

    //widget blog ----------------------
    .post-image{
        box-shadow:none;
        @include rtl-float-left();
        padding-bottom: 0;
    }
    .side-item-text{
        width: 65%;
        &.full-width{
            width: 100%;
        }
    }
    .entry-title{
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding:5px 0;
    }
    .article-meta{
        display: none;
        color:#888888;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        padding-top: 15px;
        background: none;
        border-top: none;
    }
    .entry-header{
        padding: 0;
    }
    article{
        padding: 10px 0;
        &:first-child{
            padding-top: 0;
        }
    }
    .post-cat{
        font-size: 14px;
        font-weight: 400;
    }
    .recent-post-widgets li{
        padding: 15px 0;
    }

    .information_widget{
        padding: 0px;
        background: transparent;

        box-shadow: none;
        .zum-image{
            border-radius: 5px;
        }
    }
    .post-sidebar{
        min-height: auto;
        margin-bottom: 0;
        .article-image{
            width: 35%;
        }
    }
    .zum-social-icon{
        padding-top:25px;
    }
    .widget_mc4wp_form_widget{
        .group-input-newsletter {
            padding-top: 0;
        }
        .widgettitle{
            padding-bottom: 0;
            border:none;
            text-transform: initial;
            line-height: 28px;
            font-size: 20px;
            font-weight: 600;
            color: #48494d;
            padding-top: 0;
        }
    }
}

