//Style Slider
.slider-blog{
    &.col8-4box .post-tran{
        .post-image{
            min-height: 450px;
        }
        .article-content{
            text-align: left;
            bottom: 15px;
            position:absolute;
            left: 0px;
        }
    }
    &.blog-box-layout{
        .post-image{
            min-height: 650px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
        }
    }
    .post-image{
        box-shadow: none;
    }
    .article-meta,.entry-header-title{
        display: block;
    }
    .post-tran{
        position: relative;
        .article-image{
            position: relative;
        }
        .post-image{
            box-shadow:none;
        }
        .entry-date{
            color: #fff;
        }
        .post-image:after{
            content:"";
            position: absolute;
            top:0;
            @include rtl-left(0);
            width: 100%;
            height: 100%;
            z-index: 98;
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0;
            border-radius: 5px;
        }
        .article-content {
            position: absolute;
            z-index: 99;
            bottom:50px;
            @include rtl-left(30px);
            background: none;
        }
        .entry-header{
            padding: 0 15px;
        }
        .entry-title > a{
            color: #FFF;
            font-size: 28px;
            line-height: 30px;
            &:hover{
                color: #FFF;
            }
        }
        .entry-title{
            position: relative;
            //padding: 0 0 10px;
        }
        .author > a{
            color: #FFF;
        }
        .post-cat >a{
            color: #FFF;
        }
        .entry-content{
            color: #c8c8c8;
        }
        .total-view{
            color: #fff;
        }
        .post-format{
            display: none;
        }
        .author strong{
            font-size: 12px;
        }
        b, strong{
            color: #fff;
        }
        p{
            margin: 0;
        }
        .by{
            color: #c8c8c8;
        }
        .byline{
            line-height: 24px;
        }
        .article-content .entry-meta-right{
            @include rtl-text-align-left();
            float: none;
            color: white;
            padding: 0;
            a{
                color: white;
            }
            span{
                color: white !important;
            }
        }

        //full-width
        .full-width{
            b,strong{
                color: $font-color;
            }
            .entry-title > a{
                color:$color-title;
            }
            .article-meta{
                @include rtl-padding(10px,30px,20px,15px);
                padding: 10px 30px 20px 15px;
            }
            .entry-content{
                padding:0 20px;
                color: $font-color;
            }
            .entry-meta-right a,.entry-meta-right span{
                color:$font-color !important;
            }

        }

        .post-image.full-width:after {
            content: none;
        }
        .placeholder-trans{
            max-height: 500px;
        }

    }
}
.article-carousel-center {
    .post-list {
        .post-image {
            width: 960px;
            height: 620px;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            opacity: 0.6;
        }
        &.slick-active {
            .post-image {
                opacity: 1;
                @include transition(0.8s);
                @include transition-delay(0.4s);
            }
        }
        .article-content {
            float: none;
            padding-left: 60px;
            padding-bottom: 40px;
            background: transparent linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;
        }
        .entry-header {
            text-align: left;
        }
        .entry-title {
            >a{
                font-size: 20px;
            }
        }
        .entry-avatar .author-by,.entry-title a, .entry-avatar .author-on,.post-date,.entry-avatar .author-link {
            color: #fff;
        }
    }
}
.posts-featured{
    margin: 0 -15px;
    .post-item{
        box-shadow: none;
    }
}
.post-vertical{
    margin: 0 -5px;
    border-bottom: 1px solid #f1f2eb;
    .archive-blog .post-image img{
        border-radius: 0;
    }
    .post-tran .article-content{
        border-radius: 0;
        padding:30px;
    }
    .post-grid {
        margin: 0 5px 30px;
        .article-content {
            padding-bottom: 20px;
        }
    }
}

.col-2-3box{
    .post-list{
        .article-content {
            background: transparent linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;
            padding-bottom: 20px;
            padding-left: 40px;
        }
    }
    .post-image,.article-image  {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .entry-header {
        text-align: left;
    }
    .entry-avatar .author-by,.entry-title a, .entry-avatar .author-on,.post-date,.entry-avatar .author-link {
        color: #fff;
    }
    .box-large{
        .post-image{
            min-height: 580px;
            text-align: left;
        }
    }
    .box-small{
        .post-image{
            min-height: 275px;
            text-align: left;
        }
        .entry-title{
            font-size: 20px;
            line-height: 28px;
        }
    }
    .post-tran .article-content{
        padding: 30px;
    }
}
.single-bgr-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
}

.wrapper-posts{
    margin-bottom: 50px;
}
span.post-loading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 4px solid #fff;
    border-radius: 100%;
    display: block;
    height: 100px;
    margin: auto auto 30px;
    position: relative;
    width: 100px;
}

.post-loading:before {
    content: '';
    width: 50%;
    height: 50%;
    background: transparent;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 3px;
    left: -1px;
    z-index: 999;
    box-shadow: -3px -5px #fff;
}
.loading,.post-loading {
    font-size: 10px;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 0.86s infinite linear;
    animation: load3 0.86s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 999;
}
.loading:before{
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 999;
}
.loading:after{
    background: #f9f9f9;
    width: 96%;
    height: 90%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

