
.widget{
    //border: 1px solid black;
    select{
    }
    &.center{
        text-align: center;
    }
    &.left{
        @include rtl-text-align-left();
    }
    &.right{
        text-align: center;
    }
    &.widget_mc4wp_form_widget {
        padding: 6px !important;
        margin-top: 70px;
        background: rgba(221,231,240,1);
        background: -moz-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,231,240,1)), color-stop(14%, rgba(199,245,239,1)), color-stop(35%, rgba(199,245,239,1)), color-stop(51%, rgba(250,214,206,1)), color-stop(73%, rgba(250,214,206,1)), color-stop(100%, rgba(220,238,240,1)));
        background: -webkit-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -o-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -ms-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: linear-gradient(to right, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde7f0', endColorstr='#dceef0', GradientType=1 );
        form {
            background: #fff;
        }
        .widgettitle {
            &::before {
                content: none;
            }
        }
    }
}
//title widget
.widgettitle{
    color: $color-title;
    display: block;
    font-family: $font-family-two;
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
    position: relative;
    @include rtl-text-align-left();
    text-transform: capitalize;
    padding: 12px 0;
    &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 55px;
        bottom: 0;
        background: rgba(221,231,240,1);
        background: -moz-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,231,240,1)), color-stop(14%, rgba(199,245,239,1)), color-stop(35%, rgba(199,245,239,1)), color-stop(51%, rgba(250,214,206,1)), color-stop(73%, rgba(250,214,206,1)), color-stop(100%, rgba(220,238,240,1)));
        background: -webkit-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -o-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: -ms-linear-gradient(left, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        background: linear-gradient(to right, rgba(221,231,240,1) 0%, rgba(199,245,239,1) 14%, rgba(199,245,239,1) 35%, rgba(250,214,206,1) 51%, rgba(250,214,206,1) 73%, rgba(220,238,240,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde7f0', endColorstr='#dceef0', GradientType=1 );
    }
    span{
        display: inline-block;
        overflow: hidden;
        position: relative;
    }
}
//Content widget
.widgetcontent{
}

//calendar
.widget_calendar{
    table > thead > tr > th{
        border-bottom: $border-color-base;
    }
}
//widget_layered_nav
.widget_layered_nav,.widget_layered_nav_filters{
    ul li{
        &.chosen{
            vertical-align:middle;
            color: $theme-color;
             > a{

                 color: $theme-color;
                 &:before {
                     border: none;
                     background: $theme-color;
                 }
                 &:after{
                     color: #FFF;
                     content: "";
                     display: block;
                     font-family: "icomoon";
                     font-size: 16px;
                     height: 18px;
                     @include rtl-left(0px);
                     position: absolute;
                     text-align: center;
                     top: 0;
                     width: 18px;
                     line-height: 18px;
                     z-index: 10;
                 }
                 &:hover{
                     &:after{
                         content: "\e780";
                     }
                 }
             }
        }
        a{
            line-height: 20px;
            position: relative;
            @include rtl-padding-left(30px);
            display: inline-block;
            &:before {
                content: "" !important;
                width: 18px;
                height: 18px;
                border: 1px solid #dfdfdf;
                display: block;
                position: absolute;
                @include rtl-left(0);
                border-radius: 100%;
                top: 0px;
                z-index: 5;
                background: transparent;
            }
            &:hover:before {
                border: none;
                background: $theme-color;
            }
        }
        &:hover .count{
            color: $theme-color;
        }
    }
}
.widget_layered_nav_filters{
    ul li{
        &.chosen{
            > a {
                &:after {
                    color: #FFF;
                    content: "\e780";
                    display: block;
                    font-family: "icomoon";
                    font-size: 16px;
                    height: 18px;
                    @include rtl-left(0px);
                    position: absolute;
                    text-align: center;
                    top: 0;
                    width: 18px;
                    line-height: 18px;
                    z-index: 10;
                }
            }
        }
    }
}

//widget_search
.sidebar .widget.widget_search{
    padding:20px;
}

//information_widget
.information_widget{
    .logo-footer{
        width: auto;
        margin-top: 15px;
    }
    .description{
        margin: 20px 0 15px;
        line-height: 30px;
    }
}
.page-content .wpb_revslider_element{
    margin-bottom: 0;
}

//widget-related
.widget-related {
    .widgettitle{
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-transform: capitalize;
    }
    .related-wrapper{
        margin-bottom: 50px;
    }
}
.widget.recent_blog{
    padding-bottom: 0;
    .post-item{
        position: relative;
    }
    .widgettitle{
        font-size: 20px;
        color:$color-title;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        padding-bottom: 20px;
    }
    ul > li {
        @include rtl-padding-left(30px  !important);
    }
    li > a{
        font-weight: 500;
        color:$color-title;
    }

    .post-date{
        display: block;
    }
    .entry-title{
        padding: 0;
    }
    .entry-header{
        padding:15px 0;
    }
    .entry-title a{
        color: $color-title;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        @include rtl-padding-left(10px);
        display: block;
        &:hover{
            color: $theme-color;
        }
    }
    .entry-meta{
        font-size: 12px;
        color: $font-color;
        @include rtl-padding-left(10px);
        display: block;
    }
    .number-post{
        background: #ff4422 none repeat scroll 0 0;
        border: 2px solid #fff;
        border-radius: 100%;
        color: white;
        font-size: 14px;
        font-weight: 500;
        height: 35px;
        @include rtl-left(-15px);
        line-height: 34px;
        position: absolute;
        text-align: center;
        top: 40px;
        width: 35px;
        z-index: 99;
    }
    .size-zum-sidebar{

    }
    .entry-header-title{
        @include rtl-float-left();
        width: 70%;
    }
    .post-item:last-child{
        border: none;
    }
    .post-image{
        @include rtl-float-left();
        width: 30%;
    }
    .no-image{
        .number-post{
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            color: #f2756f;
            font-size: 30px;
            font-weight: 300;
            @include rtl-left(-5px);
            top: 15px;
        }
        .entry-header-title{
            @include rtl-padding-left(40px);
            width: 100%;
        }
    }

}
.recent-post-widgets {
    .entry-title > a{
        font-size: 14px;
    }
}