/*
Theme Name: Zum
Theme URI: http://zum.nanoagency.co
Author:  Nano Agency
Author URI: http://www.nanoagency.co/
Description: It's a blog theme where everything looks the way you want it to, works the way you need it to, and simply makes you feel ecstatic. What you only have to do are share the story of who you are and affiliate anything stylishly. Zum and you are gonna make a perfect match like peanut butter and jelly!.
Version: 1.0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: zum

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Images */
ul {
    list-style-type: square;
}
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure.wp-caption.alignleft,
img.alignleft {
    margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
    margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
    float: right;
}

div.wp-caption.alignright .wp-caption-text {
    padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
    list-style-position: inside;
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: -webkit-calc(7.6923% + 24px);
    padding-top: calc(7.6923% + 24px);
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: -webkit-calc(7.6923% + 24px);
    padding-top: calc(7.6923% + 24px);
}
.sticky-post {
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #6DC6B9;
    padding-right: 10px;
}
.sticky .posted-on {
    display: none;
}
.updated:not(.published) {
    display: none;
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: 30px;
}
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption{
    max-width: 100%;
    height: auto;
}
.gallery {
    margin-bottom: 1.6em;
}
.gallery-item {
    display: inline-block;
    padding: 1.79104%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
}
.gallery-caption {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
    display: none;
}
.says, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    overflow-wrap: normal;
    position: absolute;
    width: 1px;
}
.rtl .archive-blog .article-meta .posted-on{
    padding-left: 15px;
}
.bypostauthor .text-user{
    color:#ED145B;
}